PORT=3000

DATABASE_URL="postgresql://rio_tinto:password@localhost:5432/rio_tinto?schema=public"
BETTER_AUTH_SECRET=*****
BETTER_AUTH_URL=http://localhost:3000

ENCRYPTION_KEY=*****

GOOGLE_CLIENT_ID=*****
GOOGLE_CLIENT_SECRET=*****

BETTER_AUTH_API_KEY=*****

